[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible = "*"
pylint = "*"

[packages]
django = "*"
psycopg2 = "*"
uwsgi = "*"
celery = "*"
channels = "*"
django-celery-results = "*"
redis = "*"
ipython = "*"

[requires]
python_version = "3.6"
